

sci_analysis/.idea/.name

sci_analysis.egg-info/top_level.txt

sci_analysis/.idea/encodings.xml

.idea/encodings.xml

sci_analysis/.idea/misc.xml

.idea/misc.xml

.idea/.name

.idea/encodings.xml

.idea/misc.xml

sci_analysis/.idea/modules.xml

.idea/modules.xml

sci_analysis/.idea/sci_analysis.iml

sci_analysis/.idea/vcs.xml

.idea/vcs.xml

sci_analysis/.idea/workspace.xml

sci_analysis/.idea/*

.idea/*

build/*

dist/*

.cache/*

.pytest_cache/*

*.whl

*.pyc

*.xml

sci_analysis/test/.coverage

sci_analysis/test/images/*.png

build_distro.sh
setup.cfg.old
.DS_Store
.cache/v/cache/lastfailed
docs/.ipynb_checkpoints/sci_analysis_main-checkpoint.ipynb
build_docs.sh
build_docs.sh
build_docs.sh
docs/index.rst.bak
docs/_build/*
docs/_build/html/_static/classic.css
.cache/v/cache/lastfailed
.cache/v/cache/lastfailed
